{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}


{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{! Everything below outputs the content of the post which has been publushed. }}
<h1 class="site-title">{{title}}</h1>

{{> "post-meta"}}

<div class="content">

  <section class="post-content">
    {{content}}
  </section>

  <footer class="post-footer">
    <span class="post-tags">
      {{#if tags}}
        {{tags separator=" | "}}
      {{/if}}
    </span>
  </footer>
</div>
{{/post}}
